<head>
    <!-- BASICS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/skin/default.css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/Contato/Contato.js"></script>
    <link href="~/Content/Home.css" rel="stylesheet" />
    <link href="~/Content/Loading.css" rel="stylesheet" />
</head>
<body onload="initialize()">
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2" align="center">
                        <img src="~/img/logo_lcesar_white.png" class="img-responsive"><br>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--O ESCRITORIO SECTION-->
    <section id="section-about">
        <div class="container">
            <div class="about">
                <div class="row title">
                    <div class="col-lg-12">
                        <div class="company mar-left10">
                            <p>
                                Fundado em abril de 2010, o escritório visa atender os interesses de nossos clientes,
                                observando as constantes mutações legais e o aspecto político/social,
                                que desenvolve alterações nas relações empresariais e comerciais.
                                Temos a virtude de nos posicionarmos no lugar de nossos clientes
                                e com base em nosso conhecimento técnico, opinar pela melhor solução
                                jurídica diante de inúmeras possibilidades.
                                Constantemente nos atualizamos e afunilamos nosso conhecimento em melhor servir.
                                Prestar serviços com excelência, humanidade e tecnicismo é o que pretendemos,
                                temos comprometimento com seus ideais.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="container" style="margin:50px;">
                    <div class="row">
                        <h2 class=" text-center">Veja o que nossos clientes estão dizendo..</h2>
                        <div class="test-sec">
                            <div class="col-md-4">
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamsed commodo nibh ante facilisis bibendum dolor feugiat at. </p>
                                </blockquote>
                                <div class="carousel-info">
                                    <span class="testimonials-name text-center">John Doe</span> <span class="testimonials-post text-center">CEO,  Company Inc.</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamsed commodo nibh ante facilisis bibendum dolor feugiat at. </p>
                                </blockquote>
                                <div class="carousel-info">
                                    <span class="testimonials-name text-center">John Doe</span> <span class="testimonials-post text-center">CEO,  Company Inc.</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamsed commodo nibh ante facilisis bibendum dolor feugiat at. </p>
                                </blockquote>
                                <div class="carousel-info">
                                    <span class="testimonials-name">John Doe</span> <span class="testimonials-post text-center">CEO,  Company Inc.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="team" class="team-section appear clearfix">
        <div class="container">
            <div class="row mar-bot10">
                <div class="col-md-offset-3 col-md-6">
                    <div class="section-header">
                        <div class="wow bounceIn">
                            <h2 class="section-heading animated" data-animation="bounceInUp">Our Team</h2>
                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam.</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-center mar-bot45">
                <div class="col-md-4">
                    <div class="wow bounceIn" data-animation-delay="4.8s">
                        <div class="team-member">
                            <div class="profile-picture">
                                <figure><img src="img/members3.jpg" alt=""></figure>
                                <div class="profile-overlay"></div>
                                <div class="profile-social">
                                    <div class="icons-wrapper">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-detail">
                                <h4>Ron Evgeniy</h4>
                                <span>User experiences</span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="wow bounceIn">
                        <div class="team-member">
                            <div class="profile-picture">
                                <figure><img src="img/members1.jpg" alt=""></figure>
                                <div class="profile-overlay"></div>
                                <div class="profile-social">
                                    <div class="icons-wrapper">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-detail">
                                <h4>Alexander Chernov</h4>
                                <span>Web developer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="wow bounceIn">
                        <div class="team-member">
                            <div class="profile-picture">
                                <figure><img src="img/members2.jpg" alt=""></figure>
                                <div class="profile-overlay"></div>
                                <div class="profile-social">
                                    <div class="icons-wrapper">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-detail">
                                <h4>Jose Manuel</h4>
                                <span>Web designer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- INFORMATIVOS SECTION -->
    <section id="testimonials" class="section" style="height:600px!important;">
        <div class="section-header">
            <div class="wow bounceIn">
                <h2 class="section-heading animated" data-animation="bounceInUp">Informativos</h2>
            </div>
        </div>
        <div id="DivPost">
            <div id="slider1">
                @{Html.RenderAction("ResumoPost", "Home");}
            </div>
        </div>
    </section>
    <!-- CONTATO -->
    <section id="section-contact" class="section appear clearfix">
        <div class="container">
            <div class="row mar-bot40">
                <div class="col-md-offset-3 col-md-6">
                    <div class="section-header">
                        <h2 class="section-heading animated" data-animation="bounceInUp">Fale Conosco</h2>
                        <p>Entre em contato. Faça-nos uma visita!</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div id="sendmessage">Your message has been sent. Thank you!</div>
                        <div id="errormessage"></div>
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" id="txt_name" placeholder="Nome" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="txt_email" placeholder="E-mail" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="txt_subject" placeholder="Assunto" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" id="txt_message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Mensagem"></textarea>
                            <div class="validation"></div>
                        </div>
                        <div class="col-sm-12" id="DivErro"></div>
                        <div class="text-center"><button type="button" class="line-btn green" id="bnt_Contato">Enviar</button></div>
                        <div class="text-center" style="padding-top:50px;color:#fff;">
                            <i class="fa fa-phone IconContato" aria-hidden="true"></i><span>&nbsp;&nbsp;19-3461-1852</span><br />
                            <i class="fa fa-envelope IconContato" aria-hidden="true"></i><span>&nbsp;&nbsp;contato@lcesaradvogados.com </span><br />
                            <i class="fa fa-home IconContato" aria-hidden="true"></i><span>&nbsp;&nbsp; Riachuelo, 547 - Sta Catarina - Americana</span><br /><br />
                        </div>
                    </div>
                    <div class="windows8" id="DivLoading" style="display:none;z-index:1;">
                        <div class="wBall" id="wBall_1">
                            <div class="wInnerBall"></div>
                        </div>
                        <div class="wBall" id="wBall_2">
                            <div class="wInnerBall"></div>
                        </div>
                        <div class="wBall" id="wBall_3">
                            <div class="wInnerBall"></div>
                        </div>
                        <div class="wBall" id="wBall_4">
                            <div class="wInnerBall"></div>
                        </div>
                        <div class="wBall" id="wBall_5">
                            <div class="wInnerBall"></div>
                        </div>
                    </div>
                    <!-- ./span12 -->
                </div>
            </div>
        </div>
    </section>
    <!-- map -->
    <div id="map" style="height: 400px"> </div>
    <section id="footer" class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-9 text-center">
                    <p>L.CÉSAR Advogados Copyright ©</p>
                </div>
                <div class="col-xs-12 col-sm-3 text-center">
                    <a href=""><img src="~/img/SSWEB.png"></a>
                </div>
            </div>
        </div>
    </section>
    <a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a>
    <script type="text/javascript" src="~/Scripts/maps.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAs0NxYNYkb5iusQV8crtGAehGc7iiX5Tk&callback=initMap" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#slider1').tinycarousel();
        });
    </script>
</body>
